<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Set URL -->
        <property name = "hibernate.connection.url">jdbc:mysql://62.217.127.213:3306/storyboard?characterEncoding=UTF-8</property>
        <!-- Set User Name -->
        <property name = "hibernate.connection.username">root</property>
        <!-- Set Password -->
        <property name = "hibernate.connection.password">root_ROOT_1234</property>
        <!-- Set Driver Name -->
        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name = "hibernate.show_sql">true</property>
        <property name="hibernate.enable_lazy_load_no_trans">true</property>
        
        <mapping class="gr.forth.ics.storyboard.storyboard.model.User"/>
 
    </session-factory>
</hibernate-configuration>
